*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.form_Container{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgb(0,0,0,0.1), #3700B3), url("../images/background-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
   width: 80%;
   max-width: 500px;
   margin-top: 20px;   
}
h1{
    text-align: center;
    font-size: 40px;
    color: rgba(70, 58, 58, 0.685);
    
}
.name_Group{
    height: 95%;
    margin-bottom: 30px;
    position: relative;
}
input{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid whitesmoke;
    box-shadow: 3px 1px 10px .01px #8455f1 ;
    background:transparent;
    font-size: 18px;  
    color: #CCCCFF;
    caret-color: whitesmoke;
    border-radius: 5px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
input:-webkit-autofill{
    -webkit-text-fill-color: white !important;
}

label{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: whitesmoke;
    font-size: 18px;
    cursor: text;
    transition: all.2s;
}
.fas{
    font-size: 16px;
    color:whitesmoke ;
    margin-right:5px;
}
input:focus~label,
input:valid~label{
    top: -35px;
    font-size: 16px;    
}

button{
    width: 100%;
    background-color: transparent;
    padding: 3px 10px;
    font-size: 20px;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    box-shadow: 3px 1px 10px .01px #8455f1 ;
    cursor: pointer;
    border-radius: 5px;
}